name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  docs:
    name: API documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: moonrepo/setup-rust@v1
        with:
          bins: cargo-docs-rs
          cache-base: main
          channel: nightly
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build API documentation
        run: >-
          cargo docs-rs

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: moonrepo/setup-rust@v1
        with:
          components: rustfmt
          cache-base: main
      - name: Check formatting
        run: >-
          cargo fmt --all --check

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: moonrepo/setup-rust@v1
        with:
          components: clippy
          cache-base: main
      - name: Run linter
        run: >-
          cargo clippy --features full

  test:
    name: Test
    runs-on: ${{ matrix.host }}
    strategy:
      matrix:
        channel: [stable, beta, nightly]
        host: [ubuntu-latest]
        sqlite: [bundled]
        include:
          - channel: stable
            host: ubuntu-22.04
            sqlite: linked
          - channel: stable
            host: ubuntu-24.04
            sqlite: linked
          - channel: stable
            host: ubuntu-24.04-arm
            sqlite: linked
    steps:
      - uses: actions/checkout@v4
      - uses: moonrepo/setup-rust@v1
        with:
          cache-base: main
          channel: ${{ matrix.channel }}
      - name: Run tests (default features)
        run: >-
          cargo test --no-default-features --features '${{ matrix.sqlite }} common multi-thread'
      - name: Run tests (full features)
        run: >-
          cargo test --no-default-features --features '${{ matrix.sqlite }} full multi-thread'
      - name: Run tests (full + nightly features)
        run: >-
          cargo test --no-default-features --features '${{ matrix.sqlite }} full multi-thread nightly'
        if: matrix.channel == 'nightly'
      - name: Run tests (minimal features)
        run: >-
          cargo test --no-default-features --features '${{ matrix.sqlite }} single-thread'
